
/* 1. Theme default css */
@import 'varriable';
@import 'mixins.scss';
body {
	font-family: $font1;
	font-weight: normal;
    font-style: normal;
    
}

.img {
	max-width: 100%;
	@include transition(.3s);
}
a,
.button ,button{
@include transition(.3s);
}
a:focus,
.button:focus,button:focus {
	text-decoration: none;
	outline: none;
}
a:focus{
	text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	text-decoration: none;
}
a,
button {
	color: #1F1F1F;
	outline: medium none;
}
h1,h2,h3,h4,h5{
	font-family: $font1;
	color: #234262;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 16px;
	font-weight:400;
	line-height: 28px;
	color: #7d84ab;
	margin-bottom: 13px;
	font-family: $font1;            
}

label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-webkit-input-placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}
*::-ms-input-placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}

h3{
	font-size: 24px;
}

.mb-65{
	margin-bottom: 67px;
}
// default-bg-color
.black-bg{
	background: #020c26 !important;
}

.white-bg{
	background: #ffffff;
}
.gray_bg{
	background: #f8fafe;
}

// background-image
.bg-img-1{
    background-image: url(../img/slider/slider-img-1.jpg);
}
.bg-img-2{
    background-image: url(../img/background-img/bg-img-2.jpg);
}
.cta-bg-1{
    background-image: url(../img/background-img/bg-img-3.jpg);

}

.overlay{
	position: relative;
	z-index: 0;
}
.overlay::before{
	position: absolute;
	content: "";
	background-color: #1f1f1f;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .5;
}

.overlay2{
	position: relative;
	z-index: 0;
}
.overlay2::before{
	position: absolute;
	content: "";
	background-color: #000000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.3;
}

.overlay_skyblue{
	position: relative;
	z-index: 0;
}
.overlay_skyblue::before{
	position: absolute;
	content: "";
	background-color: #5DB2FF;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.8;
}


.bradcam_overlay{
	position: relative;
	z-index: 0;
}
.bradcam_overlay::before{
	position: absolute;
	content: "";
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
background: -moz-linear-gradient(left,  rgba(93,178,255,1) 0%, rgba(101,180,249,1) 24%, rgba(124,185,233,0) 96%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(93,178,255,1) 0%,rgba(101,180,249,1) 24%,rgba(124,185,233,0) 96%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(93,178,255,1) 0%,rgba(101,180,249,1) 24%,rgba(124,185,233,0) 96%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 1;
}

.section__padding{
	padding-top: 200px;
	padding-bottom: 200px;
	@media #{$mobile_device} {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media #{$tablet_device} {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.pt-120{
	padding-top: 120px;
}

/* button style */
.owl-carousel {
	.owl-nav div {
		background: transparent;
		height: 50px;
		left: 0px;
		// opacity: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		// visibility: hidden;
		width: 50px;
		color: #bcc5cf;
		background-color: transparent;
		@include border-radius(5px);
		left: 50px;
		font-size: 15px;
		line-height: 50px;
		border: 1px solid #bcc5cf;
		left: 140px;
	}
	.owl-nav{
		div{
			&.owl-next{
				// left: 86px;
				// right: auto;
				left: auto;
				right: 140px;
				i{
					position: relative;
					right: 0;
					// top: 1px;
				}
			}
			&.owl-prev{
				i{
					position: relative;
					// right: 1px;
					top: 0px;
				}
			}
		}
	}
	&:hover{
		.owl-nav{
			div{
				opacity: 1;
				visibility: visible;
				&:hover{
					color: #fff;
					background: $btn-bg;
					border: 1px solid transparent ;
				}
			}
		}
	}
}

.mb-20px{
	margin-bottom: 20px;
}

.mb-55{
	margin-bottom: 55px;
}
.mb-40{
	margin-bottom: 40px;
}

// #scrollUp {
// 	width: 40px;
// 	height: 40px;
// 	background: #ddd;
// 	text-align: center;
// 	line-height: 40px;
// 	border-radius: 50%;
// 	bottom: 20px;
// 	right: 20px;
// 	background: rgb(1,129,245); /* Old browsers */
//     background: -moz-linear-gradient(left,  rgba(1,129,245,1) 0%, rgba(93,178,255,1) 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(left,  rgba(1,129,245,1) 0%,rgba(93,178,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to right,  rgba(1,129,245,1) 0%,rgba(93,178,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181f5', endColorstr='#5db2ff',GradientType=1 ); /* IE6-9 */
// 	color: #fff;
// 	font-size: 15px;
// 	background-size: 300% 100%;
// 	&:hover{
// 		background-position: 100% 0;
// 	}
// }